.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

/* Вспомогательный класс */
.mtb-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.table {
  width: 100%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  border-collapse: collapse;
  white-space: nowrap; /*запрещаем перенос строк*/
}

/* Отцентрируем содержимое ячеек */
.table th, .table td {
  text-align: center;
  padding: 10px;
}

.table th {
  background-color: #1e88e5;
  color: #ffffff;
}
/* чередование четных и нечетных ячеек заголовка по цвету */
.table th:nth-child(odd) {
  background-color: #2196f3;
}

/* чередование четных и нечетных рядов по цвету */
.table tr:nth-child(even) {
  background-color: #f5f5f5;
}

/* выделение hovered ряда по цвету */
.table tr {
  transition: all .3s;
}

.table tr:hover {
  background-color: #cccccc;
}

/* Разлиновка по столбцам */
.table td:not(:last-child) {
  border-right: 1px solid #cccccc;
}

/* 1. Адаптив: если содержимое будет выходить за рамки, то будет появляться горизонтальный скролл  - только для блока (не для всего окна браузера)*/

.table-responsive {
  overflow-x: auto;
  /* тело блока таблицы скрывается, добавляем тень еще раз */
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* 2. Адаптив: делаем элементы таблицы блочными, при этом заголовочные ячейки будут выстраиваться по вертикали, а все прочие элементы будут их обтекать  - TABLE Transposing  */

@media (max-width: 1000px) {
  .table-2 {
    display: block;
    width: 100%;
  }

  .table-2 thead,
  .table-2 tbody,
  .table-2 thead th {
    display: block;
  }

  .table-2 thead {
    float: left;
  }

  .table-2 tbody {
    overflow-x: auto;
  }

  /* Отображаем ряды как ячейки */
  .table-2 tbody tr {
    display: table-cell; /*выстрояться в один длинный ряд*/
    border-right: 1px solid #ccc;
  }
  /* каждую td делаем блочной */
  .table-2 td {
    display: block;
  }

  /* Убираем двойную рамку */
  .table.table-2 td {
    border-right: none;
  }

  .table-2 tbody tr:last-child {
    border-right: none;
  }

  /* Решение перезаполненности ячеек */
  .table-2 td, table-2 th {
    /* padding: 10px 2px;
    box-sizing: border-box;*/
    overflow: hidden; 
    width: 160px;
    /* font-size: 13px;  */
    text-overflow: ellipsis;
  }
}

/* 3. Адаптив:  - каждая строка tr идет своим блоком */
@media (max-width: 1000px) {
  /* Добавить блочность рядам */
  .table-3 tr {
    display: block;
    margin-bottom: 30px;
  }

  /*Добавить блочность ячейкам td и заголовкам th */
  .table-3 th, .table-3 td {
    display: block;
    text-align: center;
  }

  .table.table-3 td {
    border-right: none;
  }

  .table-3 thead {
    position: sticky;
    top: 0
  }
}