.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.table {
  width: 100%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  border-collapse: collapse;
  white-space: nowrap; /*запрещаем перенос строк в ячейке*/
}

.table th, .table td {
  padding: 10px;
}

.table thead {
  display: none;
}

/* Each tr - separate block element */
.table,
.table tbody,
.table tr,
.table td {
  display: block;
}

.table tr {
  margin-bottom: 15px;
  border: 1px solid teal;
}

.table td {
  text-align: right;
  position: relative;
}

.table td::before {
  content: attr(data-label);
  position: absolute;
  left: 0;
  width: 40%;
  padding-left: 15px;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  display: block;
}

/* Убираем двойную рамку */
.table td, .table th {
  border: none;
}

@media only screen and (min-width: 36em) {

  .table td {
    text-align: center;
  }

  .table td::before {
    content: '';
    display: none;
  }

  .table thead {
    display: table-header-group;
  }

  .table {
    display: table;
  }

  .table tbody {
    display: table-row-group;
  }

  .table tr {
    display: table-row;
  }

  .table td {
    display: table-cell;
  }
  
  .table tr {
    border: 1px solid transparent;
  }

  .table td, .table th {
    text-align: center;
    border-bottom: 1px solid teal;
  }

  .table tr:last-child td {
    border-bottom: 1px solid transparent;
  }

}